body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #d4af37;
    text-align: center;
}

.container {
    padding: 20px;
    border: 5px solid #d4af37; /* Bordure dorée sombre */
    border-radius: 10px;
    margin: 20px auto;
    max-width: 800px;
    background-color: #2a2a2a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header .logo img {
    width: 100px;
}

header .title {
    font-size: 2em;
    font-family: Abang, sans-serif; /* Police Abang */
    color: #d4af37;
}

.buttons {
    margin: 20px 0;
}

a, button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: #d4af37;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

a:hover, button:hover {
    background-color: #d4af37;
}

button {
    border: none;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
